
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
 
 @mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}


@mixin bg-slider($name, $width, $height, $slide-duration, $type, $first-background, $backgrounds...) {
  $num-slides: length($backgrounds) + 1;
  .#{$name} {
    background: $first-background, $backgrounds, $first-background;
    background-repeat: no-repeat;
    background-size: cover;
    width: $width;
    height: $height;
    @include animation($name #{$slide-duration * $num-slides}s infinite);
  }
  
  @include keyframe-creator($name, $width, $height, $num-slides, $slide-duration, $type);
}



@mixin keyframe-creator($name, $width, $height, $num-slides, $slide-duration, $type) {
  
  $percent-list: keyframe-slicer($num-slides);
  
  @include keyframes($name) {
    @for $i from 1 through length($percent-list) {

      #{nth($percent-list, $i)} {
        
        @if $type == vertical {
          $position-values: ();
          

          @for $j from 1 through $num-slides {
            @if $j >= $i {
              $position-values: append($position-values, 0px 0px, comma);
            } @else {
              $position-values: append($position-values, 0px $slide-duration * $height, comma);
            } 
          }
          $position-values: append($position-values, 0px 0px, comma);
          background-position: $position-values;
        } 

        @else if $type == horizontal {
          $position-values: ();
          
          @for $j from 1 through $num-slides {
            @if $j >= $i {
              $position-values: append($position-values, 0px 0px, comma);
            } @else {
              $position-values: append($position-values, $slide-duration * $width 0px, comma);
            } 
          }
          $position-values: append($position-values, 0px 0px, comma);
          background-position: $position-values;
        }

      }
    }
  }
}

 
@function keyframe-slicer($num-slides) {
  $steps: ();
  
  $percent: 100 / $num-slides;

  @for $slide from 0 through $num-slides {
    $percent-step: $slide * $percent + 0%;

    $steps: append($steps, $percent-step);
   }

  @return $steps;
}
 



